/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("lamejorcosaenlaexistencia.jpg");
    background-repeat: repeat;

}
.AIlogo {
background-image: url(fuckyouyoudick.jpg);
background-repeat: no-repeat;
height: 500px;
width: 500px;
}
.lacreatura {
    background-image: url(lol.jpg);
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
}
.lol {
background-image: url(soybi.jpg);
background-repeat: no-repeat;
height: 500px;
width: 500px;

}