/* Temas del segundo período*/

.texto{
   
    font-size: 30px;
    padding-top: 100px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("lamejorcosaenlaexistencia.jpg");
    background-repeat: repeat;

}
.AIlogo {
background-image: url(fuckyouyoudick.jpg);
background-repeat: no-repeat;
height: 500px;
width: 500px;
}
.lacreatura {
    background-image: url(lol.jpg);
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
}
.lol {
background-image: url(soybi.jpg);
background-repeat: no-repeat;
height: 500px;
width: 500px;

}
.titulo {
 font-size: 100px;
 padding-top: 280px;
 text-align: center;
 color: white;

}
.muitotonto {
background-image: url(muitotonto.jpg);
background-repeat: no-repeat;
height: 500px;
width: 500px;

}
.imgexcel {
    background-image: url(profesorhdp.jpg);
    background-repeat: no-repeat;
    height: 267px;
    width: 400px;
}
